#parallax {
	background-color: #880088;
	height: 500px;
	margin: auto;
	margin-top: 2em;
	overflow: hidden;
	position: relative;
	width: 750px;

	-moz-border-radius: 10px;
	border-radius: 10px;
}

#parallax img {
	position: absolute;
	top: 0;
	left: 0;
}
